<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <title>Data Analytic Covid-19</title>
</head>
<body>
    <!-- Navigator Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy_Vips2lrK7Y-KomLnWQHfE5l7K-LXuMVCX0RTvfx4T6tB5-fEf2Of8tN4i1UXOkNki0&usqp=CAU" width="40px">
              HOME
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link" href="{{ url_for('days') }}">DAYS</a>
              <a class="nav-link" href="{{ url_for('months') }}">MONTHS</a>
              <a class="nav-link" href="{{ url_for('province') }}">PROVINCE</a>
            </div>
          </div>
        </div>
      </nav>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>
    {% block content %}{% endblock %}
</body>
</html>